# Node modules
node_modules/

# Prisma generated client
/generated/
/**/node_modules/.cache/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build outputs
dist/
build/
out/

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Optional lock files (keep if your team wants consistent installs)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
